table,th,tr,td{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    font-size: medium;
}
th{
    background-color: maroon;
    color: aliceblue;
}
td{
    background-color: cadetblue;
    color: aliceblue;
}
h1{
    background-color: rgb(126, 4, 4);
    color: aliceblue;
}